.header-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-user > h1 {
        flex-grow: 5;
    }
.header-user > a {
        flex-grow: 1;
    }

.profile-picture {
    width: 100px;
    height:100px;
    border-radius: 100%;
    border: 5px solid rgb(233, 126, 55);
}

.card {
    padding-top:1em;
    min-height: 300px;
}